* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    font-size: 14px;
}

// .grid {
//     width: 1000px;
//     margin: 0 auto;
// }

.section {
    padding: 100px 0;

    &__title {
        text-align: center;
        
        h2 {
            margin-bottom: 50px;
            font-family: $font-roboto;
            font-size: 60px;
            font-weight: 900;
            text-transform: uppercase;
            color: $color-yellow;
        }
    }

    &__description {
        font-family: $font-raleway;
        font-size: 18px;
        text-transform: uppercase;
        color: $color-grey;
    }

    &__divider {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0 7px;
        }

        &:before,
        &:after {
            content: '';
            display: block;
            width: 210px;
            height: 1px;
            background-color: $color-yellow;
        }
    }
}

.main-content {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    // text-align: center;
    max-width: 1500px;

    &__left {
        width: 32%;
        margin-left: 100px;
        
        &--coner-ur {
            position: absolute;
            left: 403px;
            top: 432px;
            width: 100px;
            height: 100px;
            border: solid 1px $color-yellow;
            border-bottom: none;
            border-left: none;
        }
        &--coner-ul {
            position: absolute;
            left: 91px;
            top: 432px;
            width: 100px;
            height: 100px;
            border: solid 1px $color-yellow;
            border-bottom: none;
            border-right: none;
        }
        &--coner-dr {
            position: absolute;
            left: 403px;
            top: 746px;
            width: 100px;
            height: 100px;
            border: solid 1px $color-yellow;
            border-top: none;
            border-left: none;
        }
        &--coner-dl {
            position: absolute;
            left: 91px;
            top: 746px;
            width: 100px;
            height: 100px;
            border: solid 1px $color-yellow;
            border-top: none;
            border-right: none;
        }

        img {
            border: solid 1px $color-yellow;
        }
    }

    &__center {
        margin-left: 83px;
        width: 36%;
        content: '';
        display: block;
        width: 1px;
        height: 560px;
        background-color: $color-yellow;
    }

    &__right {
        margin-left: 85px;
        width: 32%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        text-align: center;
        
        h3 {
            font-family: $font-roboto;
            font-size: 36px;
            font-weight: 900;
            color: $color-grey;
        }
        &__line {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 32px;
            width: 95px;
            height: 1px;
            background-color: $color-yellow;    
        }
        span {
            margin-top: 32px;
            font-family: $font-raleway;
            font-size: 24px;
            font-weight: 400;
            color: $color-black;            
        }
        &--soc-icon {
            margin-top: 28px;
        }
        p {
            margin-top: 24px;
            font-family: $font-raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: $color-black;
        }
        &--dotted {
            width: 40px;
            margin: 0 auto;
            margin-top: 22px;
        }
        &--button {
            margin: 0 auto;
            margin-top: 25px;
            padding: 5px;
            width: 120px;
            text-decoration: none;
            font-size: 14px;
            border: 1px solid $color-yellow;
            color: $color-grey;
            text-transform: uppercase;
            font-family: $font-open-sans;
        }
    }
}